/* КАРТОЧКИ ПРОДУКТОВ */

.products {
    margin: 0 auto;
    max-width: 910px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  
  .product {
    margin-top: 20px;
    width: 210px;
    height: 310px;
    border: 1px solid #eaeaea;
  }
  
  .product_header {
    position: relative;
    width: 210px;
    height: 210px;
  }
  



  .logo_heart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      width: 32px;
      height: 32px;
      transition: all 0.3s ease-in-out;
      color: red;
    }
  }
  
  .desc_product > {
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 200;
    }
  
    p {
      margin: 0 0 5px;
      font-size: 14px;
      font-weight: 200;
      font-family: "Times New Roman", Arial, Helvetica, sans-serif;
      color: #acacac;
    }
  }
  .date_product{
    margin: 0;
  }
  .for_order {
    display: flex;
    justify-content: space-between;
  
    > p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      font-family: "Times New Roman", Arial, Helvetica, sans-serif;
      color: #FF8C00;
    }
  }
  
  .to_order_product {
    text-decoration: none;
    color: #FF8C00;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      color: #ff3c00;
      font-size: 18px;
      transition: all 0.3s ease-in-out;
    }
    &:active {
      color: #000000;
      font-size: 18px;
    }
  }
  
  /* просмотр продукта */
  
  .product_view {
    display: flex;
  }
  
  .product_view_main {
    max-width: 250px;
  }
  
  .img_slider_img {
    max-width: 200px;
  }
  
  /* редактирование */
  
  .desc_area {
    min-width: 150px;
    min-height: 150px;
  }