/*Карусель*/

.slider {
  position: relative;
  overflow: hidden;
    &__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }
    &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
        &:hover, :focus {
          color: #fff;
          text-decoration: none;
          outline: 0;
          opacity: .9;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background: transparent no-repeat center center;
          background-size: 100% 100%;
        }
    }
    &__control_show {
      display: flex;
    }
    &__control_left {
      left: 0;
        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
    }
    &__control_right {
      right: 0;
        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
    }
    &__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
}



/* КАРТОЧКИ ПРОДУКТОВ */

.products {
    margin: 0 auto;
    max-width: 910px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  
  .product {
    margin-top: 20px;
    width: 210px;
    height: 310px;
    border: 1px solid #eaeaea;
  }
  
  .product_header {
    position: relative;
    width: 210px;
    height: 210px;
  }
  



  .logo_heart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      width: 32px;
      height: 32px;
      transition: all 0.3s ease-in-out;
      color: red;
    }
  }
  
  .desc_product{
    background-color: rgb(250, 250, 250);
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 200;
    }
  
    p {
      margin: 0 0 5px;
      font-size: 14px;
      font-weight: 200;
      font-family: "Times New Roman", Arial, Helvetica, sans-serif;
      color: #acacac;
    }
  }
  .date_product{
    margin: 0;
  }
  .for_order {
    display: flex;
    justify-content: space-between;
  
    > p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      font-family: "Times New Roman", Arial, Helvetica, sans-serif;
      color: #FF8C00;
    }
  }
  
  .to_order_product {
    text-decoration: none;
    color: #FF8C00;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      color: #ff3c00;
      font-size: 18px;
      transition: all 0.3s ease-in-out;
    }
    &:active {
      color: #000000;
      font-size: 18px;
    }
  }
  
  /* просмотр продукта */
  
  .product_view {
    display: flex;
  }
  
  .product_view_main {
    max-width: 250px;
  }
  
  .img_slider_img {
    max-width: 200px;
  }
  
  /* редактирование */
  
  .desc_area {
    min-width: 150px;
    min-height: 150px;
  }

  //скидки

  .timer-numbers {
    font-size: 90px;
    color: (44, 39, 39, 0.555);
    text-align: center;
  }
  